/* Fonts */

@font-face {
    font-family: BungeeShade-Regular;
    src: url(fonts/BungeeShade-Regular.ttf);
}

@font-face {
    font-family: BungeeOutline-Regular;
    src: url(fonts/BungeeOutline-Regular.ttf);
}

@font-face {
    font-family: Barlow-Condensed;
    src: url(fonts/Barlow_Condensed/BarlowCondensed-Regular.ttf);
}

@font-face {
    font-family: Barlow-Semi-Condensed;
    src: url(fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Regular.ttf);
}

@font-face {
    font-family: Barlow-Semi-condensed-light;
    src: url(fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Light.ttf);
}

@font-face {
    font-family: Barlow-Semi-condensed-bold;
    src: url(fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Bold.ttf);
}

/* Fonts */

/* Body / Main */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url(images/jimi-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: rgba(0, 0, 0, 0.4);
    width: 85vw;
    border-radius: 15px;
    margin-top: 110px;
    margin-bottom: 120px;
}

main > p {
    color: white;
    margin: 1vw;
    padding-left: 10px;
}

/* Body / Main */

/* Navigation */

nav {
    display: flex;
    margin: 20px;
    gap: 5px;
}

h1 {
    font-size: 72px;
    font-family: BungeeShade-Regular;
    color: rgba(255, 255, 255, 0.835);
    line-height: 1;
    margin: 20px 0 80px 20px;
}

a {
    text-decoration: none;
    color: black;
    font-size: 30px;
    text-align: center;
    flex-grow: 1;
    flex-basis: 0;
    padding: 20px;
    border-radius: 15px;
    background-color: rgba(238, 238, 238, 0.677);
    margin-top: 20px;
    font-family: Barlow-Semi-Condensed;
}

nav>a:nth-child(1):hover,
nav>a:nth-child(3):hover,
nav>a:nth-child(4):hover {
    background-color: rgba(35, 35, 35, 0.6);
    color: white;
}

nav>a:nth-child(2) {
    border: 0.5px solid white;
    box-shadow: 0 0 3px 3px rgba(255, 255, 255, 0.823);
    font-weight: bold;
    cursor: auto;
    font-family: Barlow-Semi-condensed-bold;
}

/* Navigation */

/* section-one */

#section-one {
    margin: 60px 20px 20px 20px;
    background-color: rgba(0, 0, 0, 0.6);
    color: rgba(240, 240, 240, 0.742);
    border-radius: 15px;
    border: 1px solid white;
}

/* section-one */

/* first-container */

.first-container {
    display: flex;
    margin: 15px 15px 10px 15px;
    gap: 25px;
}

h2 {
    font-size: 35px;
    font-family: BungeeOutline-Regular;
    color: rgba(240, 240, 240, 0.742);
    margin: 0;
    line-height: 1;
}

p {
    font-family: Barlow-Semi-Condensed;
    margin-bottom: 0;
    margin-top: 0;
}

h3 {
    font-size: 30px;
    padding-bottom: 40px;
    margin: 0;
    font-family: Barlow-Semi-Condensed-bold;
}

.first-container > div > p:first-of-type {
    padding: 0;
    margin: 0;
    font-family: Barlow-Semi-Condensed;
}

ul {
    margin: 0;
    padding: 0 0 40px 45px;
    list-style: none;
    font-family: Barlow-Semi-Condensed;
}

.first-container > div:last-child {
    display: grid;
    grid-template-columns: 17vw 17vw;
    grid-template-rows: 17vw 17vw auto;
    gap: 10px;
}

.first-container > div:last-child > div:first-child {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    position: relative;
}

.first-container img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0 0;
}

div>img:last-child {
    position: absolute;
    opacity: 1;
    transition-property: opacity;
    transition-duration: 1s;
}

div>img:last-child:hover {
    opacity: 0;
}

#section-one .first-container > div:last-child > div:nth-child(2),
#section-one .first-container > div:last-child > div:nth-child(3),
#section-two .third-container > div:last-child > div:nth-child(2),
#section-two .third-container > div:last-child > div:nth-child(3) {
    background-color: rgb(236, 208, 0);
    color: rgb(194, 70, 132);
    padding-left: 15px;
    padding-top: 10px;
}

#section-one .first-container > div:last-child > div:nth-child(2) {
    border-radius: 0 0 0 15px;
}

#section-one .first-container > div:last-child > div:nth-child(3) {
    border-radius: 0 0 15px 0;
}

ol {
    margin-top: 0;
    padding-left: 15px;
    padding-top: 0;
    font-family: Barlow-Semi-condensed;
    font-size: 15px;
}
/* First-container */

/* second-container */

.second-container {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(6, 1fr);
    margin: 0 15px 15px 15px;
}

.second-container > div {
    display: flex;
    align-items: center;
    background-color: rgb(194, 70, 132);
    font-family: Barlow-Semi-Condensed;
}

.second-container > div:nth-child(1) {
    grid-column: 1 / 2;
    color: rgb(255, 200, 0);
    border-radius: 15px 0 15px 15px;
    padding: 40px 15px;
}

.second-container > div:nth-child(2) {
    grid-column: 3 / 5;
    color: rgb(255, 200, 0);
    padding: 40px 15px;
    border-radius: 15px 15px 15px 0;
}

.second-container > div:nth-child(3) {
    grid-column: 5 / 6;
    border-radius: 0 15px 15px 15px;
    color: white;
    background-image: url(images/chase.jpg);
    background-position: center;
    background-size: cover;
    align-items: flex-end;
    padding-left: 15px;
    padding-bottom: 10px;
}

.second-container > div:nth-child(4) {
    grid-column: 6 / 7;
    color: rgb(255, 200, 0);
    padding: 40px 15px;
    border-radius: 15px 15px 0 15px;
}

#section-one > .first-container > div:nth-child(2) > div:nth-child(2) > p,
#section-one > .first-container > div:nth-child(2) > div:nth-child(3) > p,
#section-two > .third-container > div:nth-child(2) > div:nth-child(2) > p,
#section-two > .third-container > div:nth-child(2) > div:nth-child(3) > p {
    font-size: 20px;
    font-weight: bold;    
}

/* second-container */

/* section-two */

#section-two {
    margin: 60px 20px 20px 20px;
    background-color: rgba(0, 0, 0, 0.6);
    color: rgba(240, 240, 240, 0.742);
    border-radius: 15px;
    border: 1px solid white;
}

/* section-two */

/* third-container */

.third-container {
    display: flex;
    margin: 15px 15px 10px 15px;
    gap: 25px;
}

.third-container > div:last-child {
    display: grid;
    grid-template-columns: 17vw 17vw;
    grid-template-rows: 17vw 17vw auto;
    gap: 10px;
}

.third-container img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0 0;
}

.third-container > div:last-child > div:first-child {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    position: relative;
}

.third-container > div:nth-child(2) {
    grid-column: 5 / 7;
}

#section-two .third-container > div:last-child > div:nth-child(2),
#section-two .third-container > div:last-child > div:nth-child(3) {
    background-color: rgb(60, 165, 206);
    color: whitesmoke;
    padding-left: 15px;
}

#section-two .third-container > div:last-child > div:nth-child(2) {
    border-radius: 0 0 0 15px;
}

#section-two .third-container > div:last-child > div:nth-child(3) {
    border-radius: 0 0 15px 0;
}

/* third-container */

/* forth-container */

.forth-container {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(6, 1fr);
    margin: 0 15px 15px 15px;
}

.forth-container > div {
    display: flex;
    align-items: center;
    background-color: rgb(251, 235, 202);
    color: rgb(60, 165, 206);
    font-family: Barlow-Semi-Condensed;
}

.forth-container > div:nth-child(1) {
    grid-column: 1 / 3;
    border-radius: 15px 0 15px 15px;
    padding: 40px 15px;
}

.forth-container > div:nth-child(2) {
    grid-column:  3;
    padding: 40px 15px;
    border-radius: 15px 15px 15px 0;
}

.forth-container > div:nth-child(3) {
    grid-column: 4 / 6;
    border-radius: 0 15px 15px 15px;
    color: white;
    background-image: url(images/studio.jpg);
    background-position: center;
    background-size: cover;
    align-items: flex-end;
    justify-content: flex-start;
    padding-left: 15px;
    padding-bottom: 10px;
}

.forth-container > div:nth-child(4) {
    grid-column: 6 / 7;
    padding: 40px 15px;
    border-radius: 15px 15px 0 15px;
}

/* Media Queries */

@media (max-width: 500px) {
   body {
        background-image: url(images/mobile.jpg) ;
        background-position: center;
    }
   
   main {
    width: 100vw;
    margin: 0;
    border-radius: 0;
    padding-bottom: 40px;
    background-color: rgba(0, 0, 0, 0.4)
   }
   
    h1 {
        font-size: 15vw;
        text-align: center;
        margin: 20px auto 0 auto;
        padding-bottom: 40px;
    }

    h2 {
        font-size: 6vw;
    }

    h3 {
        font-size: 6vw;
    }

    a {
        font-size: 3vw;
        padding: 8px;
        border-radius: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    p {
        font-size: 3.5vw;
    }

    ol {
        font-size: 3.5vw;
    }

    ul {
        font-size: 4vw;
    }

    #section-one > .first-container > div:nth-child(2) > div:nth-child(2) > p,
    #section-one > .first-container > div:nth-child(2) > div:nth-child(3) > p,
    #section-two > .third-container > div:nth-child(2) > div:nth-child(2) > p,
    #section-two > .third-container > div:nth-child(2) > div:nth-child(3) > p {
        font-size: 4.3vw;
    }

    .first-container,
    .third-container {
        flex-direction: column-reverse;
    }

    .first-container > div:last-child,
    .third-container > div:last-child  {
        grid-template-columns: 40.5vw 40.5vw;
        grid-template-rows: 40.5vw 40.5vw;
        margin: 0 auto;
    }

    .second-container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .second-container > div:first-child {
        grid-row: 1;
        grid-column: 1;
    }

    .second-container > div:nth-child(2) {
        grid-row: 1;
        grid-column: 2 / 4;
    }

    .second-container > div:nth-child(3) {
        grid-row: 2;
        grid-column: 2 / 3 ;
    }

    .second-container > div:nth-child(4) {
        grid-row: 2;
        grid-column: 3 /4;
    }

    .first-container > div:first-child {
        font-size: 20px;
    }

    .forth-container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .forth-container > div:first-child {
        grid-row: 1;
        grid-column: 1 / 3;
    }

    .forth-container > div:nth-child(2) {
        grid-row: 1;
        grid-column: 3 / 4;
    }

    .forth-container > div:nth-child(3) {
        grid-row: 2;
        grid-column: 1 / 3;
    }

    .forth-container > div:nth-child(4) {
        grid-row: 2;
        grid-column: 3 / 4;
    }

     .third-container > div:first-child {
        font-size: 20px;
    }

    div>img:last-child:hover {
    opacity: 1;
    }
}

@media (min-width: 800px) and (max-width: 900px) {
    h1 {
        font-size: 55px;
    }

    h2 {
        font-size: 26px;
    }

    h3 {
        font-size: 22px;
    }

    a {
        font-size: 20px;
    }

}

@media (min-width: 900px) and (max-width: 1200px) {
    h1 {
        font-size: 6vw;
    }
        
    a   {
        font-size: 2.5vw;
    }

    h2 {
        font-size: 2.9vw;
    }

    h3 {
        font-size: 2.5vw;
    }

    p {
        font-size: 1.4vw;
    }

    ul {
        font-size: 1.4vw;
    }

    ol {
        font-size: 1.3vw;
    }

    #section-one > .first-container > div:nth-child(2) > div:nth-child(2) > p,
    #section-one > .first-container > div:nth-child(2) > div:nth-child(3) > p,
    #section-two > .third-container > div:nth-child(2) > div:nth-child(2) > p,
    #section-two > .third-container > div:nth-child(2) > div:nth-child(3) > p {
        font-size: 1.6vw;
    }
}
@media (min-width:1200px) {
    main {
        width: 1020px;
    }

    .first-container > div:last-child, 
    .third-container > div:last-child {
        grid-template-columns: 209px 209px;
        grid-template-rows: 209px 209px auto;
    }

}

